@model adwWEB.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>usuwanie</h2>

<div>
    <h4>Detale produktów</h4>
    <hr />
    <h1>@Model.Name</h1>


</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
