@model adwWEB.Models.Product

@{
    ViewBag.Title = "Details";
}


<div>

    <h1>@Model.Name</h1>
    @if (Model.ProductProductPhoto.Count > 0)
    {
        foreach (var item in Model.ProductProductPhoto)
        {
            @Html.Partial("PhotoView", item.ProductPhoto)
        }

    }
    


</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
