@model adwWEB.ViewModel.ProductViewList

@{
    ViewBag.Title = "Details";
}


<div>

        @Html.Partial("ProductHead", Model)
    @if (Model.WithPhoto)
    {
        foreach (var item in Model.Product.ProductProductPhoto)
        {
            @Html.Partial("PhotoView", item.ProductPhoto)
        }
    }

   
    <hr />
    @if (Model.ProductCostHistory.Any())
    {
        <img src="@Url.Action("MyChart",new {nazwa=string.Join(",",
                 Model.ProductCostHistory.Select(k=>k.StartDate.ToString("yyyyMMdd")).ToArray())
                 ,wartosc = string.Join(",",Model.ProductCostHistory.Select(k => k.StandardCost.ToString()).ToArray())})" />


    }
    
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
