@model adwWEB.ViewModel.ProductViewList

<div class="panel panel-default">
    <div class="panel-heading">Podstawowe informacje</div>
    <div class="panel-body">
      

        <table>


            <tbody>
                <tr data-dt-row="2" data-dt-column="0"><td>Name</td> <td>@Model.Product.Name</td></tr>
                <tr data-dt-row="2" data-dt-column="1"><td>ProductNumber</td> <td>@Model.Product.ProductNumber</td></tr>
                </tbody>

        </table>
    </div>
</div>
